@import '~sass-mediaqueries/media-queries';

$small: 600px;
$medium: 1000px;

@mixin large {
  @include mq($min-width: $medium) {
    @content;
  }
}

@mixin small {
  @include mq($max-width: $small) {
    @content;
  }
}

@mixin medium {
  @include mq($min-width: $small, $max-width: $medium) {
    @content;
  }
}

@mixin medium-down {
  @include mq($max-width: $medium) {
    @content;
  }
}

@mixin medium-up {
  @include mq($min-width: $small) {
    @content;
  }
}

// GRID:
@mixin span($cols, $fill: false) {
  float: left;

  @if $cols == $columns {
    margin-right: 0;
  } @else {
    margin-right: $col-unit;
  }

  width: ($col-unit * $cols * 3) + (($cols - 1) * $col-unit);

  &:last-child {
    // margin-right: 0;
  }
}

@mixin last-col($cols: 0) {
  @if $cols == 0 {
    margin-right: 0;
  } @else {
    margin-right: ($cols * 4 * $col-unit)
  }
}

@mixin shift($cols) {
  margin-left: ($col-unit * $cols * 4);
}
