@import './index.scss';
@import './base.scss';
@import './typography.scss';

body {
  background-color: map-get($colors, 'black');
  color: map-get($colors, 'white');
  font-size: 16px;
}

body * {
  box-sizing: border-box;
}
